---
title: Projects
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A list of Gabriel Wright's personal projects including game development, film making, software projects, writing and more.">
    <title>Projects</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style.css">
</head>

<body id="projects-list-body">
    {% include header.html %}

    <h1 id="projects-title">Projects</h1>
    <div id="project-list-container">
        {% assign sorted_projects = site.data.projects | sort: "date" | reverse %}
        {% for project in sorted_projects %}
        <a href="{{ site.baseurl }}{{ project.url }}" class="project-list-item-link">
            <div class="project-image-text-strip">
                <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.name }} image">
                <h2>{{ project.name }}</h2>
                <small>({{ project.date | date: "%B %d, %Y" }})</small>
                <p>{{ project.topic }}</p>
                <p>{{ project.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</body>