---
title: Blog
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabriel's Blog</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style.css">
</head>

<body id="blogs-list-body">
    {% include header.html %}

    <h1 id="blog-posts-title">Blog Posts</h1>
    <div id="blog-list-container">
        {% assign sorted_blogs = site.blogs | sort: "date" | reverse %}
        {% for blog in sorted_blogs %}
        <a href="{{site.baseurl}}{{blog.url}}" class="blog-list-item-link">
            <div id="blog-list-item">
                <h3> {{blog.title}} </h3>
                <small>({{ blog.date | date: "%B %d, %Y" }}) </small>
                <small>{{ blog.topics}}</small>
                <p>{{ blog.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</body>