---
title: About Gabriel
---
<!-- homepage -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="About page describing Gabriel Wright's educational background, interests in games, films, software development. Contains Gabriel Wright's CV.">
    <title>About Gabriel</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style.css">
</head>

<body id="about-body">
    {% include header.html %}
    <h1 id="about-title">This site</h1>
    <div class="image-text-strip" id="first-about">
        <img src="{{site.baseurl}}/assets/images/gabeCyprus.png" alt="Gabriel-Cyrpus">
        <p>Hi, I'm Gabriel!!! </p>
        <p>This is my personal website where I occassionally add small blogs and projects I have worked on.</p>
        <p>I at first created this site with the purposes of 1. supporting my job hunt and 2. forcing myself to have a platform to write on consistently.</p>
        <p>There's still some HR-y/corporate soulless business vibes haunting this site, but hopefully with time it will evolve and my linkedIn self will be driven to extinction.</p>
        <p>I care about being honest here. Why make a personal website in the first place if I'm not going to be authentic? So expect some oversharing!!! (within reason)</p>
    </div>
    <h1 id="about-title">A bit of my background</h1>
    <div class="image-text-strip" id="career-education-background">
        <img src="{{site.baseurl}}/assets/images/gabriel-preppy.JPG" alt="Gabriel Graduation">
        <p> I grew up in Salisbury (the smallest city in the UK)! </p>
        <p>Currently I'm employed as a software developer, which is nice. </p>
        <p>I studied at the University of Warwick, where I was at first on the joint Maths & Philosophy course before switching to just Maths later. I learnt to develop software / program after I completed University. </p>
        <p>I enjoy creative hobbies like writing and drawing. I've also done some theatre and collaborated on little bits of films.</p>
        <p>When I've done more creative work (that I'm proud enough to share), I will post it here!</p>
    </div>

    <footer class="footer">
        {% include socials.html %}
    </footer>


</body>

</html>