<!--HTML Template for a standard blog endpoint-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{site.title}}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style.css">
</head>

<body class="standard-blog-body">
    {% include header.html %}

    <main class="standard-blog-content">
        {{ content }}
    </main>

    <footer class="footer">
        {% include socials.html %}
    </footer>
</body>

</html>